html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2c2b2b;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;

}
::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
/* 
Start of styling for Navbar
*/




input{
  background-color: #444343;
  color: white;
}

/* 
End Navbar styles
*/


/* Sidebar styles */


/* Game card styles */

.game-img-wrapper{

}

.game-screenshot{
object-fit: scale-down;
width: 300px;
}

/* 
  Styles for gameDetails page
*/





.game-title{
  font-size: 72px;
  line-height: 74px;
  font-weight: 700;
  
}

.sidebar-container{
  border-right: 2px solid black;
  position: fixed;
  left: 0;
  overflow-y: auto;
}

#light{
  background-color: white
}

#dark{
  background-color: #2c2b2b;
}