html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2c2b2b;
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;

}
::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(114, 113, 113);
  border-radius: 10px;
  height: 200px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}
/* 
Start of styling for Navbar
*/



.search-bar{
  width: 1000px;
  border: none;
  outline: none;
  height: 10px;
  margin-left: 10px;
  flex-grow: 3;
}

input{
  background-color: #444343;
  color: white;
}

/* 
End Navbar styles
*/


/* Sidebar styles */


/* Game card styles */

.game-img-wrapper{

}

.game-screenshot{
object-fit: scale-down;
width: 300px;
}

/* 
  Styles for gameDetails page
*/

.column-wrapper{
  display: flex;
  flex-direction: row;
  background-color: #2c2b2b;
  justify-content: center;
}

.left-column{
  width: 25%;
  margin: auto;
}

.right-column{
  width: 25%;
  margin: auto;
}

.game-title{
  font-size: 72px;
  line-height: 74px;
  font-weight: 700;
  
}

.sidebar-container{
  border-right: 2px solid black;
  position: fixed;
  left: 0;
  overflow-y: auto;
}