html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #2c2b2b;
}

/* 
Start of styling for Navbar
*/

.nav-container{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.title{
  font-size: 50px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: antiquewhite;
}

.search-bar{
  width: 1000px;
  border: none;
  outline: none;
  height: 10px;
  margin-left: 10px;
  flex-grow: 3;

}

input{
  background-color: #444343;
  color: white;
}

/* 
End Navbar styles
*/